@page
@model intelliSmart.Pages.About_UsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    IntelliSmart Utilities serves clients around 
    South Africa and abroad with innovative
    metering and management solutions for
    electricity, water, heat & cooling.
    IntelliSmart Utilities is proudly South African
    and with a national footprint, we can serve all
    our clients and channel partners with top
    quality products and services.
    Our employees located across South Africa
    help customers on all levels to develop more
    efficient ways of managing their utilities and to
    identify new opportunities for future growth.
</p>

<html>
<head>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
</head>
<body>


</body>
</html>
