@page
@model intelliSmart.Pages.AccountModel
@{
    ViewData["Title"] = "Account Management Solutions";
}
<h1>@ViewData["Title"]</h1>

<p>
    This is the basic account management aspect whereby we manage the council
    account on behalf of our clients on a monthly basis. When managing the council account, we
    focus on a number of aspects to ensure that the account is managed in accordance with the
    council / municipal structure
    Aspects we focus on:
    THE AVENUES OFFICE PARK, 45 HOMESTEAD RD, SANDTON, JOHANNESBURG, 2196
    Accurate and true meter readings
    Meter reading validation + auditing
    To ensure the correct meter readings being processed for billing
    1. Council / Municipal Account strategies
    2. Property Meter Readings
    3. Council / Municipal integration
    4. Account billing validation + auditing
    5. Account payment strategies and processing
    The account management solution we offer to our clients works hand in hand with our cloud
    metering solution to ensure that we can manage and control the accuracy of the meter readings
    in full. This process allows us to capture and integrate the meter readings with the
    Council/Municipality for accurate billing on the account.
</p>

<html>
<head>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
</head>
<body>


</body>
</html>

