@page
@model intelliSmart.Pages.Electrical_Plumbing_SolutionsModel
@{
    ViewData["Title"] = "Elecrical Plumbing Solutions";
}
<h1>@ViewData["Title"]</h1>

<p>
    IntelliSmart Utilities has a fully blow electrical and plumbing team to facilitate in any
    electrical need from any client. We also facilitate on behalf of certain council/Municipalities.
    The electrical & plumbing solution is a dedicated service to all of the IntelliSmart Utilities
    clients but also to the rest of South Africa. IntelliSmart Utilities has formed strategic
    partnerships with a number of electrical and plumbing teams on a large scale to provide a
    full-blown service to cater for any and all needs when it comes to electrical or plumbing
    problems.
    The service we offer is dedicated and integrated with our 24/7 call center that allows clients
    to report any electrical or plumbing faults for repairs. These faults could be property specific
    but could also be Council/Municipality related. We provide a strategic link between the
    client and the Council/Municipality to ensure that any and all faults are reported and
    repaired as soon as possible.
    The IntelliSmart Utilities platform also allows clients to log a call to ensure that problems in
    any area are reported on and be tracked until resolved.
    The electrical and plumbing service is an added benefit to all IntelliSmart Utilities clients as
    they will have direct access to a dedicated platform to assist with any problem on the
    electrical and plumbing system on their property. This will also be linked directly with your
    property building
    insurance to ensure that the call gets processed and directed to the relevant insurer to assist
    as needed.
</p>

<html>
<head>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
</head>
<body>


</body>
</html>
