@page
@model intelliSmart.Pages.Manicipal_Dispute_ManagementModel
@{
    ViewData["Title"] = "Manicipal Dispute Management";
}
<h1>@ViewData["Title"]</h1>

<p>
    The integrated dispute management solution works hand in hand with the account
    management solution to resolve historical disputes between clients and the
    Council/Municipalities, but also focus on eliminating any future disputes between the parties
    by means of our cloud-based metering processes to allow for accurate billing.
    We provide a specific service to this element to assist clients with historic disputes with
    Council/Municipalities to ensure that the clients’ accounts as managed via the “IntelliSmart
    Utilities management solution” is up to date or in the process of being resolved.
    This process allows for interacting with the Council/Municipality and build a relationship
    structure on the client's account to ensure that we can assist in a possible resolution on any
    historical disputes.
    As per the norm, any historical disputes need to go through a special resolution process that
    IntelliSmart Utilities fully manage. We provide the Council/Municipality the assurance that
    we have implemented a preventative measure to eliminate any future disputes that may
    arise by means of our “Cloud metering solution” that will assist in consumption data
    collections for accurate billing and data history building that is auditable. The Council /
    Municipality will take all disputes under review and we will assist the clients with mitigating
    actions to process and complete any outstanding disputes.
    We cannot guarantee that the Council/Municipality will right off any or all disputes, but we
    provide a commitment from our side to resolve or implement a suitable payment strategy on
    any or all historic disputes against any client's account.
</p>

<html>
<head>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
</head>
<body>


</body>
</html>

