@page
@model intelliSmart.Pages.Payment_Management_SolutionModel
@{
    ViewData["Title"] = "Payment Management Solution";
}
<h1>@ViewData["Title"]</h1>

<p>
    The solution works hand in hand with our cloud metering solution that allows our clients and
    those of the Council/Municipalities to process payments through the user portal directly to
    the linked property accounts.
    We at IntelliSmart Utilities integrated our solution in such a way to make it convenient for
    any user to process their utility payments directly from the user portal.
    All property accounts registered on the IntelliSmart Utilities portal is directly linked with the
    supplier or Council/Municipality and thus allows for direct payments to be processed from
    the portal to the correct supplier or Council/Municipality account, this process allows the
    client to pay over the utility consumptions values owed to the supplier for utility supply.
</p>

<html>
<head>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
</head>
<body>


</body>
</html>
