@page
@model intelliSmart.Pages.Pre_paid_Metering_SolutionModel
@{
    ViewData["Title"] = "Pre-paid Metering Solution";
}
<h1>@ViewData["Title"]</h1>

<p>
    The pre-paid metering solutions are available on the “Electrical & Water” infrastructure and
    can easily be scaled to fit any application. It’s fully integrated with the IntelliSmart Utilities
    national vending platform.
    The IntelliSmart Utilities water, electrical & gas prepaid meters in line with the prepaid
    management process is the ideal solution for any property owner, landlord, and tenant alike.
    The prepaid meter system by “IntelliSmart Utilities” will hand the control back to the property
    owners with full control over the amount of water, electricity & gas being used vs the
    number of funds being spent.
    The “IntelliSmart Utilities” Prepayment meters are designed and manufactured locally,
    conform and compliant with all legislation and SABS standards of South Africa.
    The innovative prepayment system works on the local and international vending process for
    water, electricity & gas and that will allow the property owners/tenants the freedom to
    purchase credits for the installed prepayment meter at any given time 24/7 via various
    vending outlets across South Africa and online platforms.
</p>

<html>
<head>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
</head>
<body>


</body>
</html>